This nb creates the train-test split and exports the data chunks as csv files.

- currently it uses data that is not fully cleaned
- [ ] switch the definition of `now` below when cleaned data is available

- Create the train-test split. 
- Export both as new csv files. 
- Don't touch the test until evaluation time.

In [14]:
import numpy as np
np.random.seed(23)
import pandas as pd

from sklearn.model_selection import train_test_split 

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

from datetime import datetime

In [15]:
data = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_genres_gender_cleaned_temp.csv', index_col = ['artist'])
data.drop(['Unnamed: 0'], axis = 1,  inplace = True)

In [16]:
data.head()

                 gender                                          genrelist
artist
Billy_Joe_Royal    male  ['Rock_and_roll', 'Country_music', 'Gospel_mus...
Inés_Gaviria     female                          ['Latin_pop', 'Pop_rock']
Tha_Realest        male                                  ['Hip_hop_music']
Mr._Lif            male  ['Hip_hop_music', 'Alternative_hip_hop', 'Poli...
Clarice_Mayne    female                  ['Music_hall', 'Variety_theatre']

In [17]:
data.shape

(14615, 2)

Create pd.Series for inputs and outputs, maintaining the artist name as index.

In [18]:
X = data.genrelist
y = data.gender
X.shape, y.shape

((14615,), (14615,))

Split the data into train and test sets:

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Check alignment on a couple of samples:

In [20]:
n = np.random.randint(data.shape[0])
X_train[n:n+1], y_train[n:n+1]

(artist
 Ross_Lynch    ['Pop_rock', 'Power_pop', 'Pop_music']
 Name: genrelist, dtype: object,
 artist
 Ross_Lynch    male
 Name: gender, dtype: object)

In [21]:
name = X_train[n:n+1].index[0]

In [22]:
data[data.index == name]

           gender                               genrelist
artist
Ross_Lynch   male  ['Pop_rock', 'Power_pop', 'Pop_music']

Export data for further use:

# SWITCH 'now' to datetime when have cleaned and verified dataset

In [23]:
today = datetime.today()
now = 'temp'
#now = today.strftime('%Y-%m-%d-%H-%M')
now

'temp'

In [24]:
X_train.to_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_train_{}.csv'.format(now))
y_train.to_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_train_{}.csv'.format(now))

X_test.to_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_test_{}.csv'.format(now))
y_test.to_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_test_{}.csv'.format(now))