This notebook reports the gender breakdown for genre sets.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

import re

Import the cleaned data:

In [2]:
#%ls -lt ../../data/genre_lists/data_ready_for_model/

In [3]:
%store -r now
now
#now = '2020-05-11-14-35'

'2020-05-18-10-06'

In [4]:
X_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_train_{}.csv'.format(now), index_col = ['artist'])
y_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_train_{}.csv'.format(now), index_col = ['artist'])

### Genre Labels -- as a set

Each value of the genre column is a _string_ of comma separated genre labels using the spotify abbreviations. We want to convert it to a _set_ of strings.

In [5]:
"""This function takes in a string of the form
appearing in the genrelist of the dataframe.
It strips the square brackets and extra quotes and
returns a list of strings where each string is a genre label."""
def genrelist(string):
    string = string.strip("[").strip("]").replace("'","")
    L = [s for s in string.split(',')]
    L_new = []
    for x in L:
        L_new.append(x.replace(" ","_").lstrip("_").rstrip("_"))
    while (str("") in L_new):
        L_new.remove("")
    return set(L_new)

Now we apply
- it to the whole column and put the lists in a new column
- assemble X,y into DF
-reset index to 'artist_id'

In [6]:
X_train['genre_set']= X_train['genrelist'].apply(genrelist)

data = X_train.join(y_train, how = 'inner', on = 'artist')
data.drop(['genrelist'], axis = 1, inplace = True)
data.reset_index(inplace = True)
data.index.name = 'artist_id'
data_set_size = data.shape[0]

In [7]:
data.head()

,artist,genrelist_length,genre_set,gender
artist_id,,,,
0,Pablo_Holman,3,"{pop, emo_pop, rock}",male
1,Bobby_Edwards,1,{country},male
2,La_Palabra,4,"{son_montuno, guaracha, salsa_romántica, afro_...",male
3,Sherrick,2,"{r_and_b, soul}",male
4,Allen_Collins,1,{southern_rock},male

- Set IDs for Full genre_list as index (not just that for the training set)
- Vocab Dict and Size-- {label: id}
- max length of lists

In [8]:
genre_list = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/genre_list_{}.csv'.format(now))
genre_list.drop(['Unnamed: 0'], axis = 1, inplace = True)
genre_list['genre_id'] = list(range(1,genre_list.shape[0]+1))

#Size of the vocab:
vocab_size = genre_list.shape[0]

#Create a dictionary {genre_label: genre_id}
temp = genre_list.set_index(['genre_list'])
label_id_dict = temp['genre_id'].to_dict()

# set genre_id to index
genre_list.set_index(['genre_id'], inplace = True)

#Find max length of genre lists:
max_list_length = data.genrelist_length.max()

In [9]:
genre_list

                  genre_list
genre_id
1                    chilean
2                      zamba
3            afro_punk_blues
4                      crunk
5             spanish_guitar
...                      ...
1490            british_rock
1491      funeral_doom_metal
1492              blues_soul
1493              mainstream
1494                 canción

[1494 rows x 1 columns]

In [10]:
# encode labels as ints within the list
def encode_list(row):
    return {label_id_dict[item] for item in row.genre_set}

data['genre_set_encoded'] = data.apply(encode_list, axis = 1)

#Check that the encoding is consistent: 
# n = np.random.randint(data.shape[0])
# [label_id_dict[item] for item in data.genrelist.iloc[n]], data.genres_encoded_as_list.iloc[n]

# Encode targets. The categories still appear as strings. To see the encoding use df.column.cat.codes.
data['gender'] = data.gender.apply(lambda x: 1 if x == 'female' else 0)

In [11]:
data.head()

,artist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,
0,Pablo_Holman,3,"{pop, emo_pop, rock}",0,"{1431, 794, 1007}"
1,Bobby_Edwards,1,{country},0,{465}
2,La_Palabra,4,"{son_montuno, guaracha, salsa_romántica, afro_...",0,"{809, 1442, 1004, 1357}"
3,Sherrick,2,"{r_and_b, soul}",0,"{1426, 359}"
4,Allen_Collins,1,{southern_rock},0,{1186}

Gender priors:

In [12]:
p_fem = data.gender.sum()/data.gender.shape[0]
p_male = 1-p_fem
p_fem, p_male

(0.3108435681965094, 0.6891564318034906)

A function that maps from a genreset (string format) to its frequency

In [13]:
# fnc from set to count
def set_to_count(genreset):
    return set_counts[genre_sets.index(genreset)]

### Count frequency of a genre_set

In [14]:
# Initialize list of genre sets and counts:
genre_sets = [] # a list of the genre sets
set_counts = {} # a dictionary of items {int id for genre set : frequency of that genre set}

In [15]:
def set_counting(row):
    if row.genre_set_encoded in genre_sets:
        set_counts[genre_sets.index(row.genre_set_encoded)] += 1
    else: 
        genre_sets.append(row.genre_set_encoded)
        set_counts[len(set_counts)] = 1

In [16]:
len(genre_sets)

0

In [17]:
data.apply(set_counting, axis = 1);

In [18]:
# example:
#set_to_count({1426,359}), data[data.genre_set_encoded == {1426, 359}].shape[0]

Create dataframe with the sets and their counts, using encoded and string versions of sets

In [19]:
set_counts_df = pd.DataFrame.from_dict(set_counts, orient = 'index')
set_counts_df.index.name = 'list_index'
set_counts_df.columns = ['count']
set_counts_df['genre_set'] = set_counts_df.apply(lambda x: genre_sets[x.name], axis = 1)

def set_strings(row):
    stringset = set([])
    for id in row.genre_set:
        stringset.add(genre_list.loc[id][0])
    return stringset

set_counts_df['genre_set_strings'] = set_counts_df.apply(set_strings, axis = 1)
set_counts_df['set_size'] = set_counts_df.genre_set_strings.apply(lambda x: len(x))
set_counts_df.sort_values(['count'], ascending = False, inplace = True)
#playing
#set_counts_df['attention'] = set_counts_df['count']*set_counts_df['set_size']

In [20]:
# attention_grabbers = set_counts_df.sort_values(['attention'], ascending = False)
# attention_grabbers = attention_grabbers[attention_grabbers.attention > attention_grabbers['count']]
# attention_grabbers[attention_grabbers.attention >70]

In [21]:
set_counts_df.head(20)

            count          genre_set        genre_set_strings  set_size
list_index
1             720              {465}                {country}         1
27            443              {128}                {hip_hop}         1
16            418             {1007}                    {pop}         1
102           212             {1431}                   {rock}         1
69            176              {507}                   {jazz}         1
17            163       {1431, 1007}              {pop, rock}         2
21            118              {650}                   {folk}         1
145           116             {1427}                  {blues}         1
3             101        {1426, 359}          {r_and_b, soul}         2
425            93       {1426, 1007}           {pop, r_and_b}         2
133            71             {1426}                {r_and_b}         1
118            70        {128, 1426}       {hip_hop, r_and_b}         2
130            69  {1426, 359, 1007}     {pop, r_and_b, soul}         3
420            68             {1081}       {alternative_rock}         1
61             56              {354}             {indie_rock}         1
85             53        {465, 1007}           {pop, country}         2
49             40  {128, 1426, 1007}  {hip_hop, pop, r_and_b}         3
149            39        {650, 1007}              {pop, folk}         2
125            38              {870}               {pop_rock}         1
258            37       {1427, 1431}            {rock, blues}         2

### Count frequencies of genre sets by gender

### Set counts for female artists:

In [22]:
data_fem = data[data.gender == 1].copy()

In [23]:
data_fem.head()

,artist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,
11,Christina_Milian,4,"{pop, r_and_b, hip_hop, dance}",1,"{128, 1426, 1063, 1007}"
14,Lee_Soo-jung,4,"{k_pop, folk, r_and_b, soul}",1,"{138, 359, 1426, 650}"
15,Gwen_Sebastian,2,"{rock, country}",1,"{465, 1431}"
18,Anna_Margaret_Collins,1,{pop},1,{1007}
20,Lawnie_Wallace,1,{country},1,{465}

In [24]:
set_counts_fem = dict.fromkeys( set_counts.keys(), 0 ) # a dictionary of items {int id for genre set : frequency of that genre set}
def set_counting_fem(row):
    if row.genre_set_encoded in genre_sets:
        set_counts_fem[genre_sets.index(row.genre_set_encoded)] += 1

In [25]:
data_fem.apply(set_counting_fem, axis = 1);

In [26]:
data_fem[data_fem.genre_set_encoded == {465}]

,artist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,
20,Lawnie_Wallace,1,{country},1,{465}
73,Amanda_Wilkinson,1,{country},1,{465}
94,Victoria_Shaw,1,{country},1,{465}
154,Tania_Kernaghan,1,{country},1,{465}
326,Jenny_Simpson,1,{country},1,{465}
...,...,...,...,...,...
11941,Naomi_Judd,1,{country},1,{465}
12151,Kaitlyn_Baker,1,{country},1,{465}
12224,Nikki_Nelson,1,{country},1,{465}
12248,Karen_Tobin,1,{country},1,{465}
12324,Mary_Ann_Kennedy,1,{country},1,{465}

Create dataframe with the sets and their counts, using encoded and string versions of sets

In [27]:
set_counts_fem_df = pd.DataFrame.from_dict(set_counts_fem, orient = 'index')
set_counts_fem_df.index.name = 'list_index'
set_counts_fem_df.columns = ['count_female']
set_counts_fem_df['genre_set'] = set_counts_fem_df.apply(lambda x: genre_sets[x.name], axis = 1)

def set_strings(row):
    stringset = set([])
    for id in row.genre_set:
        stringset.add(genre_list.loc[id][0])
    return stringset

set_counts_fem_df['genre_set_strings'] = set_counts_fem_df.apply(set_strings, axis = 1)
set_counts_fem_df['set_size'] = set_counts_fem_df.genre_set_strings.apply(lambda x: len(x))
set_counts_fem_df.sort_values(['count_female'], ascending = False, inplace = True)
#playing
#set_counts_fem_df['attention'] = set_counts_fem_df['count']*set_counts_fem_df['set_size']

In [28]:
set_counts_fem_df

,count_female,genre_set,genre_set_strings,set_size
list_index,,,,
1,218,{465},{country},1
16,215,{1007},{pop},1
69,59,{507},{jazz},1
425,56,"{1426, 1007}","{pop, r_and_b}",2
17,51,"{1431, 1007}","{pop, rock}",2
...,...,...,...,...
2619,0,"{449, 194, 1081, 1426}","{punk_rock, hardcore_punk, r_and_b, alternativ...",4
2618,0,"{1064, 870}","{pop_rock, teen_pop}",2
2615,0,"{561, 1427, 470}","{reggae, blues_rock, blues}",3
2613,0,"{472, 465, 650, 572}","{bluegrass, folk, country, cajun}",4
6229,0,"{89, 1077, 133, 231}","{black_metal, symphonic_metal, extreme_metal, ...",4

### Set counts for male artists:

In [29]:
data_male = data[data.gender == 0].copy()

In [30]:
set_counts_male = dict.fromkeys( set_counts.keys(), 0 ) # a dictionary of items {int id for genre set : frequency of that genre set}
def set_counting_male(row):
    if row.genre_set_encoded in genre_sets:
        set_counts_male[genre_sets.index(row.genre_set_encoded)] += 1

In [31]:
data_male.apply(set_counting_male, axis = 1);

Create dataframe with the sets and their counts, using encoded and string versions of sets

In [32]:
set_counts_male_df = pd.DataFrame.from_dict(set_counts_male, orient = 'index')
set_counts_male_df.index.name = 'list_index'
set_counts_male_df.columns = ['count_male']
set_counts_male_df['genre_set'] = set_counts_male_df.apply(lambda x: genre_sets[x.name], axis = 1)

def set_strings(row):
    stringset = set([])
    for id in row.genre_set:
        stringset.add(genre_list.loc[id][0])
    return stringset

set_counts_male_df['genre_set_strings'] = set_counts_male_df.apply(set_strings, axis = 1)
set_counts_male_df['set_size'] = set_counts_male_df.genre_set_strings.apply(lambda x: len(x))
set_counts_male_df.sort_values(['count_male'], ascending = False, inplace = True)
#playing
#set_counts_male_df['attention'] = set_counts_male_df['count']*set_counts_male_df['set_size']

In [33]:
set_counts_male_df.head()

            count_male genre_set genre_set_strings  set_size
list_index
1                  502     {465}         {country}         1
27                 434     {128}         {hip_hop}         1
16                 203    {1007}             {pop}         1
102                187    {1431}            {rock}         1
69                 117     {507}            {jazz}         1

### Join female and male set counts to total set counts:

In [34]:
set_counts_df = set_counts_df.join([set_counts_fem_df[['count_female']], set_counts_male_df[['count_male']]], how = 'left', lsuffix = '_tot', rsuffix = '_gender')

Calculate a column that classifies by majority vote for each genre set

In [35]:
def classify(row):
    if row.count_female < row.count_male:
        return 0 # male = 0
    else:
        return 1 # female = 1

In [41]:
set_counts_df['classifier'] = set_counts_df.apply(classify, axis = 1)
set_counts_df.drop(['genre_set', 'set_size', 'classifier'], axis = 1, inplace = True)

In [43]:
set_counts_df.head(50)

,count,genre_set_strings,count_female,count_male
list_index,,,,
1,720,{country},218,502
27,443,{hip_hop},9,434
16,418,{pop},215,203
102,212,{rock},25,187
69,176,{jazz},59,117
17,163,"{pop, rock}",51,112
21,118,{folk},50,68
145,116,{blues},21,95
3,101,"{r_and_b, soul}",46,55
425,93,"{pop, r_and_b}",56,37
133,71,{r_and_b},33,38
118,70,"{hip_hop, r_and_b}",19,51
130,69,"{pop, r_and_b, soul}",41,28
420,68,{alternative_rock},20,48
61,56,{indie_rock},10,46
85,53,"{pop, country}",24,29
49,40,"{hip_hop, pop, r_and_b}",20,20
149,39,"{pop, folk}",21,18
125,38,{pop_rock},15,23
258,37,"{rock, blues}",4,33
184,35,"{heavy_metal, hard_rock}",2,33
1154,33,"{pop, soul}",22,11
155,33,"{folk, country}",16,17
23,32,"{pop, jazz}",25,7
310,32,{electric_blues},3,29
140,31,{indie_pop},26,5
609,29,"{jazz, blues}",16,13
160,29,"{pop, dance}",24,5
42,29,{classical},2,27
543,28,{rock_and_roll},2,26
438,27,{punk_rock},8,19
90,26,{contemporary_christian},14,12
505,26,{traditional_pop},16,10
14,25,"{rock, country}",4,21
261,24,{folk_rock},11,13
185,24,"{electric_blues, chicago_blues}",1,23
50,23,{gospel},13,10
163,23,"{glam_metal, heavy_metal, hard_rock}",1,22
187,22,"{pop, pop_rock}",14,8
577,22,"{indie_rock, alternative_rock}",5,17
12,21,{soul},12,9
361,20,"{pop, folk, rock}",11,9
384,19,"{r_and_b, funk, soul}",5,14
141,18,"{bluegrass, country}",2,16
363,18,"{gospel, country}",6,12
5,18,"{hip_hop, alternative_hip_hop}",0,18
152,18,"{folk, blues}",4,14
164,17,"{gospel, r_and_b, soul}",9,8
264,17,"{r_and_b, blues}",4,13
561,17,"{hard_rock, rock}",1,16