In [1]:
import pandas as pd
import numpy as np

In [95]:
danverify = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/dan_sample_to_verify_2020-05-01-09-16.csv')

In [96]:
danverify['verified'] = np.nan

- Verified = 1
- Not-Verified = 0

In [97]:
danverify.iloc[:5]

           artist  gender  verified
0   Kim_Yarbrough  female       NaN
1         Lalaine  female       NaN
2  Brett_Gurewitz    male       NaN
3      Dave_Flett    male       NaN
4   Julian_Taylor    male       NaN

In [113]:
n = 0

# Start Here

In [494]:
n += 1 
n

76

In [496]:
(danverify[['artist']].iloc[n].values[0]+ ' musician').replace("_"," "), danverify[['gender']].iloc[n].values[0]

('Lauren Aquilina musician', 'female')

In [497]:
danverify['verified'].at[n] = 1

In [498]:
danverify.iloc[n:n+2]

             artist  gender  verified
76  Lauren_Aquilina  female       1.0

# To Do: Remove all bands from list

Notes:

- Entrance is a band
- Eric Clayton is plural (male) cf FBook