In [9]:
import numpy as np
import pandas as pd
from genre_upperbound import UpperBound

In [64]:
n = 5
n1 = 2
n2 = 3
m = 7
p = 3
targ = [0 for i in range(n)]+[1 for i in range(m)]+[0 for i in range(p)]
#feat = np.random.randint(0,1,(100,2))
feat = [{1} for i in range(n1)]+[{0} for i in range(n2)]+[{1} for i in range(m)]+[{0,1} for i in range(p)]

In [65]:
# index = ['a','b','c','d','e','f','g','h','i','k']
df = pd.DataFrame({'genre_set':feat,'gender':targ})
df.index.name = 'artist'
df['gender'] = df.gender.apply(lambda x: 'female' if x == 1 else 'male' )

In [66]:
df

       genre_set  gender
artist
0            {1}    male
1            {1}    male
2            {0}    male
3            {0}    male
4            {0}    male
5            {1}  female
6            {1}  female
7            {1}  female
8            {1}  female
9            {1}  female
10           {1}  female
11           {1}  female
12        {0, 1}    male
13        {0, 1}    male
14        {0, 1}    male

In [67]:
sent_counts, error_bound = UpperBound(df)

In [68]:
sent_counts

gender  total  female  male genre_set  classifier  error_bound
set_id
0           9       7     2       {1}           1            2
1           3       0     3       {0}           0            0
2           3       0     3    {0, 1}           0            0

In [69]:
error_bound

0.666667