# Create a Bayes Classifier as a baseline for our modeling

- [ ] use the code below and apply to the data divided into male and female
- [ ] multiply by priors and create bayes classifier
- [ ] redo using CV to see scores

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

import re

Import the cleaned data:

In [2]:
#%ls -lt ../../data/genre_lists/data_ready_for_model/

In [3]:
%store -r now
now
#now = '2020-05-11-14-35'

'2020-05-18-10-06'

In [4]:
X_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_train_{}.csv'.format(now), index_col = ['artist'])
y_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_train_{}.csv'.format(now), index_col = ['artist'])

### Genre Labels -- as a set

Each value of the genre column is a _string_ of comma separated genre labels using the spotify abbreviations. We want to convert it to a _set_ of strings.

In [5]:
"""This function takes in a string of the form
appearing in the genrelist of the dataframe.
It strips the square brackets and extra quotes and
returns a list of strings where each string is a genre label."""
def genrelist(string):
    string = string.strip("[").strip("]").replace("'","")
    L = [s for s in string.split(',')]
    L_new = []
    for x in L:
        L_new.append(x.replace(" ","_").lstrip("_").rstrip("_"))
    while (str("") in L_new):
        L_new.remove("")
    return set(L_new)

Now we apply
- it to the whole column and put the lists in a new column
- assemble X,y into DF
-reset index to 'artist_id'

In [6]:
X_train['genre_set']= X_train['genrelist'].apply(genrelist)

data = X_train.join(y_train, how = 'inner', on = 'artist')

data.reset_index(inplace = True)
data.index.name = 'artist_id'
data_set_size = data.shape[0]

In [7]:
data.head()

,artist,genrelist,genrelist_length,genre_set,gender
artist_id,,,,,
0,Pablo_Holman,"['pop', 'rock', 'emo_pop']",3,"{emo_pop, pop, rock}",male
1,Bobby_Edwards,['country'],1,{country},male
2,La_Palabra,"['afro_cuban_jazz', 'son_montuno', 'guaracha',...",4,"{guaracha, salsa_romántica, afro_cuban_jazz, s...",male
3,Sherrick,"['r_and_b', 'soul']",2,"{r_and_b, soul}",male
4,Allen_Collins,['southern_rock'],1,{southern_rock},male

- Full genre_list (not just that for the training set)
- Vocab Dict and Size
- max length of lists

In [10]:
genre_list = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/genre_list_{}.csv'.format(now))
genre_list.drop(['Unnamed: 0'], axis = 1, inplace = True)
genre_list['genre_id'] = list(range(1,genre_list.shape[0]+1))

#Size of the vocab:
vocab_size = genre_list.shape[0]

#Create a dictionary {genre_label: genre_id}
temp = genre_list.set_index(['genre_list'])
label_id_dict = temp['genre_id'].to_dict()

# set genre_id to index
genre_list.set_index(['genre_id'], inplace = True)

#Find max length of genre lists:
max_list_length = data.genrelist_length.max()

In [11]:
genre_list

                  genre_list
genre_id
1                    chilean
2                      zamba
3            afro_punk_blues
4                      crunk
5             spanish_guitar
...                      ...
1490            british_rock
1491      funeral_doom_metal
1492              blues_soul
1493              mainstream
1494                 canción

[1494 rows x 1 columns]

In [12]:
# encode labels as ints within the list
def encode_list(row):
    return {label_id_dict[item] for item in row.genre_set}

data['genre_set_encoded'] = data.apply(encode_list, axis = 1)

#Check that the encoding is consistent: 
# n = np.random.randint(data.shape[0])
# [label_id_dict[item] for item in data.genrelist.iloc[n]], data.genres_encoded_as_list.iloc[n]

# Encode targets. The categories still appear as strings. To see the encoding use df.column.cat.codes.
data['gender'] = data.gender.apply(lambda x: 1 if x == 'female' else 0)

In [13]:
data.head()

,artist,genrelist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,,
0,Pablo_Holman,"['pop', 'rock', 'emo_pop']",3,"{emo_pop, pop, rock}",0,"{1431, 794, 1007}"
1,Bobby_Edwards,['country'],1,{country},0,{465}
2,La_Palabra,"['afro_cuban_jazz', 'son_montuno', 'guaracha',...",4,"{guaracha, salsa_romántica, afro_cuban_jazz, s...",0,"{809, 1442, 1004, 1357}"
3,Sherrick,"['r_and_b', 'soul']",2,"{r_and_b, soul}",0,"{1426, 359}"
4,Allen_Collins,['southern_rock'],1,{southern_rock},0,{1186}

Initialize list of genre sets and counts:

In [14]:
genre_sets = [] # a list of the genre sets
set_counts = {} # a dictionary of items {int id for genre set : frequency of that genre set}

In [15]:
def set_counting(row):
    if row.genre_set_encoded in genre_sets:
        set_counts[genre_sets.index(row.genre_set_encoded)] += 1
    else: 
        genre_sets.append(row.genre_set_encoded)
        set_counts[len(set_counts)] = 1

In [16]:
data.apply(set_counting, axis = 1);

In [17]:
# fnc from set to count
def set_to_count(genreset):
    return set_counts[genre_sets.index(genreset)]

In [18]:
# example:
set_to_count({1426,359})

101

In [19]:
data[data.genre_set_encoded == {1426, 359}]

,artist,genrelist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,,
3,Sherrick,"['r_and_b', 'soul']",2,"{r_and_b, soul}",0,"{1426, 359}"
12,Frankie_DeCarlos,"['r_and_b', 'soul']",2,"{r_and_b, soul}",0,"{1426, 359}"
191,Otis_Redding,"['soul', 'r_and_b']",2,"{r_and_b, soul}",0,"{1426, 359}"
263,Donell_Jones,"['r_and_b', 'soul']",2,"{r_and_b, soul}",0,"{1426, 359}"
265,Blinky,"['r_and_b', 'soul']",2,"{r_and_b, soul}",1,"{1426, 359}"
...,...,...,...,...,...,...
11853,Timmy_Shaw,"['r_and_b', 'soul']",2,"{r_and_b, soul}",0,"{1426, 359}"
11930,Johnny_Bristol,"['r_and_b', 'soul']",2,"{r_and_b, soul}",0,"{1426, 359}"
11955,Tammi_Terrell,"['r_and_b', 'soul']",2,"{r_and_b, soul}",1,"{1426, 359}"
12107,Megan_Rochell,"['r_and_b', 'soul']",2,"{r_and_b, soul}",1,"{1426, 359}"
12203,Sam_Moore,"['r_and_b', 'soul']",2,"{r_and_b, soul}",0,"{1426, 359}"

Create dataframe with the sets and their counts, using encoded and string versions of sets

In [58]:
set_counts_df = pd.DataFrame.from_dict(set_counts, orient = 'index')
set_counts_df.index.name = 'list_index'
set_counts_df.columns = ['count']
set_counts_df['genre_set'] = set_counts_df.apply(lambda x: genre_sets[x.name], axis = 1)

def set_strings(row):
    stringset = set([])
    for id in row.genre_set:
        stringset.add(genre_list.loc[id][0])
    return stringset

set_counts_df['genre_set_strings'] = set_counts_df.apply(set_strings, axis = 1)

In [59]:
set_counts_df.head()

,count,genre_set,genre_set_strings
list_index,,,
0,1,"{1431, 794, 1007}","{emo_pop, pop, rock}"
1,720,{465},{country}
2,1,"{809, 1442, 1004, 1357}","{guaracha, salsa_romántica, afro_cuban_jazz, s..."
3,101,"{1426, 359}","{r_and_b, soul}"
4,9,{1186},{southern_rock}