# Create a Bayes Classifier as a baseline for our modeling

- [ ] use the code below and apply to the data divided into male and female
- [ ] multiply by priors and create bayes classifier
- [ ] redo using CV to see scores

Other uses of intermediate states:

- [ ] the count of frequency of a genre set is interesting
    - [ ] add in gender 
    - [ ] for single label sets, add frequency of non-unique appearance; how does this depend on gender?

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

import re

Import the cleaned data:

In [2]:
#%ls -lt ../../data/genre_lists/data_ready_for_model/

In [3]:
%store -r now
now
#now = '2020-05-11-14-35'

'2020-05-18-10-06'

In [4]:
X_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_train_{}.csv'.format(now), index_col = ['artist'])
y_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_train_{}.csv'.format(now), index_col = ['artist'])

### Genre Labels -- as a set

Each value of the genre column is a _string_ of comma separated genre labels using the spotify abbreviations. We want to convert it to a _set_ of strings.

In [5]:
"""This function takes in a string of the form
appearing in the genrelist of the dataframe.
It strips the square brackets and extra quotes and
returns a list of strings where each string is a genre label."""
def genrelist(string):
    string = string.strip("[").strip("]").replace("'","")
    L = [s for s in string.split(',')]
    L_new = []
    for x in L:
        L_new.append(x.replace(" ","_").lstrip("_").rstrip("_"))
    while (str("") in L_new):
        L_new.remove("")
    return set(L_new)

Now we apply
- it to the whole column and put the lists in a new column
- assemble X,y into DF
-reset index to 'artist_id'

In [6]:
X_train['genre_set']= X_train['genrelist'].apply(genrelist)

data = X_train.join(y_train, how = 'inner', on = 'artist')
data.drop(['genrelist'], axis = 1, inplace = True)
data.reset_index(inplace = True)
data.index.name = 'artist_id'
data_set_size = data.shape[0]

In [7]:
data.head()

,artist,genrelist_length,genre_set,gender
artist_id,,,,
0,Pablo_Holman,3,"{rock, emo_pop, pop}",male
1,Bobby_Edwards,1,{country},male
2,La_Palabra,4,"{salsa_romántica, son_montuno, afro_cuban_jazz...",male
3,Sherrick,2,"{r_and_b, soul}",male
4,Allen_Collins,1,{southern_rock},male

- Set IDs for Full genre_list as index (not just that for the training set)
- Vocab Dict and Size-- {label: id}
- max length of lists

In [8]:
genre_list = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/genre_list_{}.csv'.format(now))
genre_list.drop(['Unnamed: 0'], axis = 1, inplace = True)
genre_list['genre_id'] = list(range(1,genre_list.shape[0]+1))

#Size of the vocab:
vocab_size = genre_list.shape[0]

#Create a dictionary {genre_label: genre_id}
temp = genre_list.set_index(['genre_list'])
label_id_dict = temp['genre_id'].to_dict()

# set genre_id to index
genre_list.set_index(['genre_id'], inplace = True)

#Find max length of genre lists:
max_list_length = data.genrelist_length.max()

In [9]:
genre_list

                  genre_list
genre_id
1                    chilean
2                      zamba
3            afro_punk_blues
4                      crunk
5             spanish_guitar
...                      ...
1490            british_rock
1491      funeral_doom_metal
1492              blues_soul
1493              mainstream
1494                 canción

[1494 rows x 1 columns]

In [10]:
# encode labels as ints within the list
def encode_list(row):
    return {label_id_dict[item] for item in row.genre_set}

data['genre_set_encoded'] = data.apply(encode_list, axis = 1)

#Check that the encoding is consistent: 
# n = np.random.randint(data.shape[0])
# [label_id_dict[item] for item in data.genrelist.iloc[n]], data.genres_encoded_as_list.iloc[n]

# Encode targets. The categories still appear as strings. To see the encoding use df.column.cat.codes.
data['gender'] = data.gender.apply(lambda x: 1 if x == 'female' else 0)

In [11]:
data.head()

,artist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,
0,Pablo_Holman,3,"{rock, emo_pop, pop}",0,"{794, 1007, 1431}"
1,Bobby_Edwards,1,{country},0,{465}
2,La_Palabra,4,"{salsa_romántica, son_montuno, afro_cuban_jazz...",0,"{809, 1442, 1004, 1357}"
3,Sherrick,2,"{r_and_b, soul}",0,"{1426, 359}"
4,Allen_Collins,1,{southern_rock},0,{1186}

Gender priors:

In [58]:
p_fem = data.gender.sum()/data.gender.shape[0]
p_male = 1-p_fem
p_fem, p_male

(0.3108435681965094, 0.6891564318034906)

A function that maps from a genreset (string format) to its frequency

In [12]:
# fnc from set to count
def set_to_count(genreset):
    return set_counts[genre_sets.index(genreset)]

### Count frequency of a genre_set

In [13]:
# Initialize list of genre sets and counts:
genre_sets = [] # a list of the genre sets
set_counts = {} # a dictionary of items {int id for genre set : frequency of that genre set}

In [14]:
def set_counting(row):
    if row.genre_set_encoded in genre_sets:
        set_counts[genre_sets.index(row.genre_set_encoded)] += 1
    else: 
        genre_sets.append(row.genre_set_encoded)
        set_counts[len(set_counts)] = 1

In [15]:
data.apply(set_counting, axis = 1);

In [16]:
# example:
#set_to_count({1426,359}), data[data.genre_set_encoded == {1426, 359}].shape[0]

Create dataframe with the sets and their counts, using encoded and string versions of sets

In [17]:
set_counts_df = pd.DataFrame.from_dict(set_counts, orient = 'index')
set_counts_df.index.name = 'list_index'
set_counts_df.columns = ['count']
set_counts_df['genre_set'] = set_counts_df.apply(lambda x: genre_sets[x.name], axis = 1)

def set_strings(row):
    stringset = set([])
    for id in row.genre_set:
        stringset.add(genre_list.loc[id][0])
    return stringset

set_counts_df['genre_set_strings'] = set_counts_df.apply(set_strings, axis = 1)
set_counts_df['set_size'] = set_counts_df.genre_set_strings.apply(lambda x: len(x))
set_counts_df.sort_values(['count'], ascending = False, inplace = True)
#playing
#set_counts_df['attention'] = set_counts_df['count']*set_counts_df['set_size']

In [18]:
# attention_grabbers = set_counts_df.sort_values(['attention'], ascending = False)
# attention_grabbers = attention_grabbers[attention_grabbers.attention > attention_grabbers['count']]
# attention_grabbers[attention_grabbers.attention >70]

In [19]:
set_counts_df.head(20)

            count          genre_set        genre_set_strings  set_size
list_index
1             720              {465}                {country}         1
27            443              {128}                {hip_hop}         1
16            418             {1007}                    {pop}         1
102           212             {1431}                   {rock}         1
69            176              {507}                   {jazz}         1
17            163       {1007, 1431}              {rock, pop}         2
21            118              {650}                   {folk}         1
145           116             {1427}                  {blues}         1
3             101        {1426, 359}          {r_and_b, soul}         2
425            93       {1426, 1007}           {r_and_b, pop}         2
133            71             {1426}                {r_and_b}         1
118            70        {128, 1426}       {r_and_b, hip_hop}         2
130            69  {1426, 359, 1007}     {r_and_b, pop, soul}         3
420            68             {1081}       {alternative_rock}         1
61             56              {354}             {indie_rock}         1
85             53        {465, 1007}           {country, pop}         2
49             40  {128, 1426, 1007}  {r_and_b, pop, hip_hop}         3
149            39        {650, 1007}              {pop, folk}         2
125            38              {870}               {pop_rock}         1
258            37       {1427, 1431}            {rock, blues}         2

### Count frequencies of genre sets by gender

### Set counts for female artists:

In [21]:
data_fem = data[data.gender == 1].copy()

In [33]:
data_fem.head()

,artist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,
11,Christina_Milian,4,"{dance, r_and_b, pop, hip_hop}",1,"{128, 1426, 1007, 1063}"
14,Lee_Soo-jung,4,"{folk, r_and_b, soul, k_pop}",1,"{650, 359, 138, 1426}"
15,Gwen_Sebastian,2,"{rock, country}",1,"{465, 1431}"
18,Anna_Margaret_Collins,1,{pop},1,{1007}
20,Lawnie_Wallace,1,{country},1,{465}

In [34]:
set_counts_fem = dict.fromkeys( set_counts.keys(), 0 ) # a dictionary of items {int id for genre set : frequency of that genre set}
def set_counting_fem(row):
    if row.genre_set_encoded in genre_sets:
        set_counts_fem[genre_sets.index(row.genre_set_encoded)] += 1

In [35]:
data_fem.apply(set_counting_fem, axis = 1);

In [36]:
data_fem[data_fem.genre_set_encoded == {465}]

,artist,genrelist_length,genre_set,gender,genre_set_encoded
artist_id,,,,,
20,Lawnie_Wallace,1,{country},1,{465}
73,Amanda_Wilkinson,1,{country},1,{465}
94,Victoria_Shaw,1,{country},1,{465}
154,Tania_Kernaghan,1,{country},1,{465}
326,Jenny_Simpson,1,{country},1,{465}
...,...,...,...,...,...
11941,Naomi_Judd,1,{country},1,{465}
12151,Kaitlyn_Baker,1,{country},1,{465}
12224,Nikki_Nelson,1,{country},1,{465}
12248,Karen_Tobin,1,{country},1,{465}
12324,Mary_Ann_Kennedy,1,{country},1,{465}

Create dataframe with the sets and their counts, using encoded and string versions of sets

In [37]:
set_counts_fem_df = pd.DataFrame.from_dict(set_counts_fem, orient = 'index')
set_counts_fem_df.index.name = 'list_index'
set_counts_fem_df.columns = ['count_female']
set_counts_fem_df['genre_set'] = set_counts_fem_df.apply(lambda x: genre_sets[x.name], axis = 1)

def set_strings(row):
    stringset = set([])
    for id in row.genre_set:
        stringset.add(genre_list.loc[id][0])
    return stringset

set_counts_fem_df['genre_set_strings'] = set_counts_fem_df.apply(set_strings, axis = 1)
set_counts_fem_df['set_size'] = set_counts_fem_df.genre_set_strings.apply(lambda x: len(x))
set_counts_fem_df.sort_values(['count_female'], ascending = False, inplace = True)
#playing
#set_counts_fem_df['attention'] = set_counts_fem_df['count']*set_counts_fem_df['set_size']

In [38]:
set_counts_fem_df

,count_female,genre_set,genre_set_strings,set_size
list_index,,,,
1,218,{465},{country},1
16,215,{1007},{pop},1
69,59,{507},{jazz},1
425,56,"{1426, 1007}","{r_and_b, pop}",2
17,51,"{1007, 1431}","{rock, pop}",2
...,...,...,...,...
2619,0,"{1081, 1426, 449, 194}","{r_and_b, alternative_rock, hardcore_punk, pun...",4
2618,0,"{1064, 870}","{pop_rock, teen_pop}",2
2615,0,"{561, 1427, 470}","{reggae, blues, blues_rock}",3
2613,0,"{472, 465, 650, 572}","{cajun, country, bluegrass, folk}",4
6229,0,"{89, 1077, 133, 231}","{black_metal, gothic_metal, symphonic_metal, e...",4

### Set counts for male artists:

In [42]:
data_male = data[data.gender == 0].copy()

In [45]:
set_counts_male = dict.fromkeys( set_counts.keys(), 0 ) # a dictionary of items {int id for genre set : frequency of that genre set}
def set_counting_male(row):
    if row.genre_set_encoded in genre_sets:
        set_counts_male[genre_sets.index(row.genre_set_encoded)] += 1

In [46]:
data_male.apply(set_counting_male, axis = 1);

Create dataframe with the sets and their counts, using encoded and string versions of sets

In [48]:
set_counts_male_df = pd.DataFrame.from_dict(set_counts_male, orient = 'index')
set_counts_male_df.index.name = 'list_index'
set_counts_male_df.columns = ['count_male']
set_counts_male_df['genre_set'] = set_counts_male_df.apply(lambda x: genre_sets[x.name], axis = 1)

def set_strings(row):
    stringset = set([])
    for id in row.genre_set:
        stringset.add(genre_list.loc[id][0])
    return stringset

set_counts_male_df['genre_set_strings'] = set_counts_male_df.apply(set_strings, axis = 1)
set_counts_male_df['set_size'] = set_counts_male_df.genre_set_strings.apply(lambda x: len(x))
set_counts_male_df.sort_values(['count_male'], ascending = False, inplace = True)
#playing
#set_counts_male_df['attention'] = set_counts_male_df['count']*set_counts_male_df['set_size']

In [49]:
set_counts_male_df.head()

            count_male genre_set genre_set_strings  set_size
list_index
1                  502     {465}         {country}         1
27                 434     {128}         {hip_hop}         1
16                 203    {1007}             {pop}         1
102                187    {1431}            {rock}         1
69                 117     {507}            {jazz}         1

### Join female and male set counts to total set counts:

In [54]:
set_counts_df = set_counts_df.join([set_counts_fem_df[['count_female']], set_counts_male_df[['count_male']]], how = 'left', lsuffix = '_tot', rsuffix = '_gender')

Calculate a column that defines a Bayes classifier

$ f(x) = argmax_{y \in \left\{female, male \right\} } \left\{ p(x| y) p(y)\right\}$

In [59]:
def classify(row):
    if p_fem*row.count_female < p_male*row.count_male:
        return 0
    else:
        return 1

In [60]:
set_counts_df['classifier'] = set_counts_df.apply(classify, axis = 1)

In [61]:
set_counts_df.head()

,count,genre_set,genre_set_strings,set_size,count_female,count_male,classifier
list_index,,,,,,,
1,720,{465},{country},1,218,502,0
27,443,{128},{hip_hop},1,9,434,0
16,418,{1007},{pop},1,215,203,0
102,212,{1431},{rock},1,25,187,0
69,176,{507},{jazz},1,59,117,0

Create a column with the error of the predictor for that genre_set

In [71]:
set_counts_df['bayes_error'] = set_counts_df.apply(lambda x: x.count_female if x.classifier == 0 else x.count_male, axis = 1)

Calculate the total error of the Bayes model:

In [72]:
bayes_error = round(set_counts_df.bayes_error.sum()/set_counts_df.shape[0],3)

In [73]:
bayes_error

0.295