This notebook is used to clean and prepare the genre label data for analysis.

To Do:

- [ ] genre lists may be more complicated now due to the following. deal with by looking at genre lists with special characters and cleaning those
    - [ ] semicolon separated
    - [ ] prose comments in parentheses
    - [ ] forward slashes e.g. singer/songwriter
    - [ ] irregular spacing?
- [x] Note: Katharina_Nuttall has no genres, but on wikipedia there are genres listed
- [ ] clean up names of some genres, such as 'R&amp;B'
- [ ] the following appears as a genre label: 'R&amp;B/Dance music (page does not exist)'; this appears to be another reason not to scrape the link for the genre

## Outline of Cleaning:

- [x] remove artists for which 'retrieved' value is 'none'
- [x] remove the url prefix from the retrieved artist names 
- [x] replace ' ' in the artist column with '_'
- [x] remove the '(singer)', '(rapper)', '(musician)' designation from the 'retrieved' column
- [x] remove the artists for which the retrieved-artist != searched-artist. 
    - inspect mismatches to look for typos and different versions
- [x] convert genre column values into lists of strings
- [x] remove old columns
- [x] extract unique genres as a list
- [ ] select 1% sample to verify gender

In [375]:
import numpy as np
np.random.seed(23)
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

import re

from datetime import datetime

In [376]:
%ls -lt /Users/Daniel/Code/Genre/data/genre_lists/data_to_be_cleaned/

total 24032
-rw-r--r--  1 Daniel  staff  1893962 Apr 30 11:50 wiki-kaggle_genres_rescrape.csv
-rw-r--r--  1 Daniel  staff   184182 Apr 24 16:44 wiki-women_wiki_lists.csv
-rw-r--r--@ 1 Daniel  staff  1901830 Apr 23 13:41 wiki-kaggle_genres_gender.csv
-rw-r--r--@ 1 Daniel  staff  2010856 Apr 23 13:41 wiki-kaggle_genres_rough_gender.csv
-rw-r--r--@ 1 Daniel  staff   708936 Apr 22 15:30 wiki-kaggle_genres_rough.csv
-rw-r--r--  1 Daniel  staff   895886 Apr 17 10:27 kaggle_genres-reduced.csv
-rwxr-xr-x@ 1 Daniel  staff    22397 Apr 15 13:24 wiki_bands_women.csv*
-rwxr-xr-x@ 1 Daniel  staff    37575 Apr 15 13:24 wiki_country_women.csv*
-rwxr-xr-x@ 1 Daniel  staff    79119 Apr 15 13:24 wiki_rock_women.csv*
-rw-r--r--@ 1 Daniel  staff  1949982 Apr 15 11:34 kaggle_genres_rough.csv
-rwxr-xr-x@ 1 Daniel  staff    15444 Apr 11 12:41 wiki_bands_women-cleaned.csv*
-rwxr-xr-x@ 1 Daniel  staff    24278 Apr 11 12:41 wiki_country_women-cleaned.csv*
-rwxr-xr-x@ 1 Daniel  staff    53345 Apr 11 12:41 wiki_rock_women-cleaned.csv*
-rwxr-xr-x@ 1 Daniel  staff     8351 Apr  8 13:19 women_in_rock.csv*
-rwxr-xr-x@ 1 Daniel  staff  1434028 Apr  8 13:19 singers_gender_genres_draft.csv*
-rw-r--r--@ 1 Daniel  staff  1036359 Sep 20  2019 singers_gender.csv

### Data Sets

The file singers_gender.csv is from Kaggle and lists music artists and their gender. This is our starting point. It is augmented using the lists of women artists. Genre and network info will be generated by scraping databases. For now we are focusing in Wikipedia.

In [377]:
# kaggle_data = pd.read_csv('singers_gender.csv', encoding = 'latin-1')

In [378]:
# kaggle_data.shape

### Load the data to be cleaned:

Current: wiki-kaggle_genres_rough.csv

- This will be replaced by the fully scraped set
- The full set needs to be cleaned

Add in a converter that splits the genre list on commas:
https://stackoverflow.com/questions/32742976/how-to-read-a-column-of-csv-as-dtype-list-using-pandas

In [379]:
data = pd.read_csv('../../data/genre_lists/data_to_be_cleaned/wiki-kaggle_genres_rescrape.csv', header = 0)
data.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [380]:
data.head(50)

,artist,gender,retrieved,genre
0,Jimmy Boyd,male,none,none
1,Christopher Willits,male,https://en.wikipedia.org/wiki/Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac..."
2,Henry Frayne,male,none,none
3,Shawn Hook,male,https://en.wikipedia.org/wiki/Shawn_Hook,"['pop', 'electronic', 'rock']"
4,Steve Poltz,male,https://en.wikipedia.org/wiki/Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']"
5,Dave Schramm,male,none,none
6,Marvin Isley,male,https://en.wikipedia.org/wiki/Marvin_Isley,"['r&b', 'funk', 'soul', 'funk rock']"
7,Povel Ramel,male,https://en.wikipedia.org/wiki/Povel_Ramel,['vaudeville']
8,Lisa McHugh,female,none,none
9,Sharon Van Etten,female,https://en.wikipedia.org/wiki/Sharon_Van_Etten,"['indie rock', 'indie folk']"
10,Krista Marie,female,https://en.wikipedia.org/wiki/Krista_Marie,['country']
11,Holly Lerski,female,none,none
12,Marie Bryant,female,none,none
13,Jordon Zadorozny,male,none,none
14,Justin Grennan,male,https://en.wikipedia.org/wiki/Justin_Grennan,"['soul', 'r&b']"
15,Roger Greenaway,male,https://en.wikipedia.org/wiki/Roger_Greenaway,['pop']
16,Fritz McIntyre,male,https://en.wikipedia.org/wiki/Fritz_McIntyre,"['pop', 'soul', 'post-punk', 'ccm']"
17,Tony Spinner,male,https://en.wikipedia.org/wiki/Tony_Spinner,"['blues rock', 'pop rock', 'hard rock']"
18,Rich Homie Quan,male,https://en.wikipedia.org/wiki/Rich_Homie_Quan,"['hip hop', 'mumble rap']"
19,Dan Pickett,male,https://en.wikipedia.org/wiki/Dan_Pickett_(mus...,"['country blues', 'piedmont blues']"
20,Aleesha Rome,female,https://en.wikipedia.org/wiki/Aleesha_Rome,['pop']
21,Tony Martinez,male,none,none
22,Anthony J. Mifsud,male,none,none
23,Eagle-Eye Cherry,male,https://en.wikipedia.org/wiki/Eagle-Eye_Cherry,"['rock', 'post-grunge', 'alternative rock', 'a..."
24,Joseph Ward,male,none,none
25,Ben Barnes,male,none,none
26,Jason Keyser,male,none,none
27,Alexandra Slate,female,none,none
28,Rachel Goswell,female,https://en.wikipedia.org/wiki/Rachel_Goswell,"['indie pop', 'dream pop', 'folk rock', 'exper..."
29,Donald Fagen,male,https://en.wikipedia.org/wiki/Donald_Fagen,"['jazz rock', 'soft rock', 'yacht rock', 'r&b']"
30,David Charvet,male,none,none
31,Ken Tobias,male,https://en.wikipedia.org/wiki/Ken_Tobias,"['folk', 'rock']"
32,Colin Marston,male,https://en.wikipedia.org/wiki/Colin_Marston,"['technical death metal', 'black metal', 'avan..."
33,Colby O'Donis,male,https://en.wikipedia.org/wiki/Colby_O'Donis,"['pop', 'r&b']"
34,Macy Gray,female,https://en.wikipedia.org/wiki/Macy_Gray,"['r&b', 'soul', 'neo soul', 'jazz']"
35,Mary Jane Lamond,female,https://en.wikipedia.org/wiki/Mary_Jane_Lamond,['celtic folk']
36,Troy Donahue,male,none,none
37,Elle Varner,female,none,none
38,Adam Ross,male,none,none
39,Mickey Baker,male,https://en.wikipedia.org/wiki/Mickey_Baker,"['r&b', 'jazz', 'rock']"
40,Kevin Jonas,male,https://en.wikipedia.org/wiki/Kevin_Jonas,"['rock', 'pop rock', 'power pop', 'teen pop', ..."
41,Spoonie Gee,male,https://en.wikipedia.org/wiki/Spoonie_Gee,"['hip hop', 'funk']"
42,Porter Wagoner,male,https://en.wikipedia.org/wiki/Porter_Wagoner,"['country music', 'gospel']"
43,Jean-François Michael,male,https://en.wikipedia.org/wiki/Jean-François_Mi...,['pop']
44,Korey Cooper,female,https://en.wikipedia.org/wiki/Korey_Cooper,"['christian rock', 'christian metal', 'hard ro..."
45,Dave Hope,male,https://en.wikipedia.org/wiki/Dave_Hope,"['progressive rock', 'rock', 'christian rock']"
46,Finis Tasby,male,https://en.wikipedia.org/wiki/Finis_Tasby,['blues']
47,Cynthia Johnson,female,https://en.wikipedia.org/wiki/Cynthia_Johnson,"['funk', 'disco', 'r&b', 'jazz', ' pop', 'soul..."
48,Doug Piercy,male,none,none
49,Jackson Rohm,male,https://en.wikipedia.org/wiki/Jackson_Rohm,"['country', ' pop']"

In [381]:
data.shape

(23177, 4)

In [382]:
data.isnull().sum()

artist       0
gender       0
retrieved    0
genre        0
dtype: int64

For how many artists is the scraped genre 'none':

In [383]:
(data.genre == 'none').sum()

7677

For how many artists is the 'retrieved' value 'none':

In [384]:
(data.retrieved == 'none').sum()

7677

Take a glance at artist and retrieved values to determine necessary cleaning:

In [385]:
rints = np.random.randint(0,data.shape[0],15) # generate 15 random numbers from 0 to k-1, with k = # of rows

for n in rints:
    print('artist: {}        retrieved: {}'.format(data.artist.iloc[n], data.retrieved.iloc[n]))

artist: Jeanne Cherhal        retrieved: https://en.wikipedia.org/wiki/Jeanne_Cherhal
artist: Jessica Cauffiel        retrieved: none
artist: Marco Marinangeli        retrieved: https://en.wikipedia.org/wiki/Marco_Marinangeli
artist: Rosemary Clooney        retrieved: https://en.wikipedia.org/wiki/Rosemary_Clooney
artist: Jon Rennard        retrieved: none
artist: Colm Wilkinson        retrieved: https://en.wikipedia.org/wiki/Colm_Wilkinson
artist: Dwight Pinkney        retrieved: https://en.wikipedia.org/wiki/Dwight_Pinkney
artist: Nivea        retrieved: https://en.wikipedia.org/wiki/Nivea_(singer)
artist: Emilie Hammarskjöld        retrieved: none
artist: J. D. Souther        retrieved: https://en.wikipedia.org/wiki/J._D._Souther
artist: Øyvind Nypan        retrieved: none
artist: Brownstone        retrieved: https://en.wikipedia.org/wiki/Brownstone_(band)
artist: Frankie Armstrong        retrieved: https://en.wikipedia.org/wiki/Frankie_Armstrong
artist: Chuck Berghofer        retrieved: https://en.wikipedia.org/wiki/Chuck_Berghofer
artist: Lisa Ajax        retrieved: https://en.wikipedia.org/wiki/Lisa_Ajax

Notes on Retrieved:

- Underscore is used to separate parts of the name
- '.' are allowed in names 
- '(singer)' and '(musician)' are sometimes included and need to be stripped (probably to distinguish from othe people in wikipedia)
- double quotes are allowed in names
- hyphens appear

### Remove artists for which 'retrieved' value is 'none'

Convert none to null:

In [386]:
data['retrieved'] = data['retrieved'].replace('none', np.nan)

In [387]:
data.head()

,artist,gender,retrieved,genre
0,Jimmy Boyd,male,NaN,none
1,Christopher Willits,male,https://en.wikipedia.org/wiki/Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac..."
2,Henry Frayne,male,NaN,none
3,Shawn Hook,male,https://en.wikipedia.org/wiki/Shawn_Hook,"['pop', 'electronic', 'rock']"
4,Steve Poltz,male,https://en.wikipedia.org/wiki/Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']"

In [388]:
data.isnull().sum()

artist          0
gender          0
retrieved    7677
genre           0
dtype: int64

Drop rows with nulls:

In [389]:
data.dropna(axis = 0, inplace = True)

In [390]:
data.shape

(15500, 4)

In [391]:
data.head()

,artist,gender,retrieved,genre
1,Christopher Willits,male,https://en.wikipedia.org/wiki/Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac..."
3,Shawn Hook,male,https://en.wikipedia.org/wiki/Shawn_Hook,"['pop', 'electronic', 'rock']"
4,Steve Poltz,male,https://en.wikipedia.org/wiki/Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']"
6,Marvin Isley,male,https://en.wikipedia.org/wiki/Marvin_Isley,"['r&b', 'funk', 'soul', 'funk rock']"
7,Povel Ramel,male,https://en.wikipedia.org/wiki/Povel_Ramel,['vaudeville']

## Remove the prefix from the 'retrieved' values

In [392]:
"""This function extracts artist name from the url.
Apply it to the 'retrieved' values."""
def retrieved_artist(text):
    try:
        retrieved = text
        p = re.compile(r'(https://en.wikipedia.org/wiki/)(.*)')
        result = re.match(p, retrieved)
        return result.group(2)
    except:
        if text == 'none':
            return 'none'
    else:
        return 'None'

In [393]:
data['retrieved'] = data.retrieved.apply(retrieved_artist)

In [394]:
data.head()

,artist,gender,retrieved,genre
1,Christopher Willits,male,Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac..."
3,Shawn Hook,male,Shawn_Hook,"['pop', 'electronic', 'rock']"
4,Steve Poltz,male,Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']"
6,Marvin Isley,male,Marvin_Isley,"['r&b', 'funk', 'soul', 'funk rock']"
7,Povel Ramel,male,Povel_Ramel,['vaudeville']

Take a glance at artist and retrieved values after cleaning retrieved to determine further cleaning:

In [395]:
rints = np.random.randint(0,data.shape[0],15) # generate 15 random numbers from 0 to k-1, with k = # of rows

for n in rints:
    print('artist: {}        retrieved: {}'.format(data.artist.iloc[n], data.retrieved.iloc[n]))

artist: Dominique Eade        retrieved: Dominique_Eade
artist: John C. J. Taylor        retrieved: John_C._J._Taylor
artist: Phillip Mitchell        retrieved: Phillip_Mitchell
artist: Meja        retrieved: Meja
artist: Simon Underwood        retrieved: Simon_Underwood
artist: Del Reeves        retrieved: Del_Reeves
artist: Syleena Johnson        retrieved: Syleena_Johnson
artist: Jimi Jamison        retrieved: Jimi_Jamison
artist: John Spiker        retrieved: John_Spiker
artist: Melissa Sgambelluri        retrieved: Melissa_Sgambelluri
artist: Justin Hayford        retrieved: Justin_Hayford
artist: Markus Fagervall        retrieved: Markus_Fagervall
artist: John Schlitt        retrieved: John_Schlitt
artist: Jack Hues        retrieved: Jack_Hues
artist: Paris Bennett        retrieved: Paris_Bennett

## Replace spaces with _ in the artist column:

In [396]:
"""This function replaces white space in the values of
the column artist with an underscore."""
def underscore(text):
    try:
        split_name = text.split(' ')
        return '_'.join(split_name)  
    except:
        return 'error'

In [397]:
data['artist'] = data.artist.apply(underscore)

In [398]:
data.head()

,artist,gender,retrieved,genre
1,Christopher_Willits,male,Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac..."
3,Shawn_Hook,male,Shawn_Hook,"['pop', 'electronic', 'rock']"
4,Steve_Poltz,male,Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']"
6,Marvin_Isley,male,Marvin_Isley,"['r&b', 'funk', 'soul', 'funk rock']"
7,Povel_Ramel,male,Povel_Ramel,['vaudeville']

## Remove the \_(singer) type designation from retrieved

In [399]:
"""This function uses re. to remove any parenthetical designations
form the retrieved artist name"""
def remove_designation(text):
    designations = [r'_\(singer\)', r'_\(musician\)', r'_\(rapper\)', r'_\(band\)', r'_\(composer\)', r'_\(music_producer\)', r'_\(singer-songwriter\)' ]
    x = text
    for des in designations:
        if re.search(des, x):
            x = re.sub(r'{}'.format(des),'',text)
    return x

Apply the function:

In [400]:
data['retrieved_clean'] = data.retrieved.apply(remove_designation)

Take a glance at artist and retrieved_clean values:

In [401]:
rints = np.random.randint(0,data.shape[0],15) # generate 15 random numbers from 0 to k-1, with k = # of rows

data[['artist','retrieved_clean']].iloc[rints]

                    artist      retrieved_clean
3281         Julian_Velard        Julian_Velard
9987                Chingy               Chingy
12032               Deesha               Deesha
9981         Jamie_Oldaker        Jamie_Oldaker
6919          Pearl_Future         Pearl_Future
10485         Vince_Taylor         Vince_Taylor
15091  Tarsame_Singh_Saini  Tarsame_Singh_Saini
16312         Bradford_Cox         Bradford_Cox
3036        Chubby_Checker       Chubby_Checker
12532     Charlie_Dominici     Charlie_Dominici
1680         C._P._Spencer        C._P._Spencer
5639      La_Grande_Sophie     La_Grande_Sophie
15287        Jim_Neversink        Jim_Neversink
13247              Aaliyah              Aaliyah
5492           Julie_Frost          Julie_Frost

### Mark the rows for which retrieved_clean is different from artist

In [402]:
"""This function takes a pair of strings and checks
if they are equivalent (case insensitive)

.casefold is used to be case insensitive; 
still might have problems on some characters"""

def verify_artist(x,y):
    if x.casefold() == y.casefold(): 
        return 1
    else:
        return 0

Introduce a mismatch just to make sure we can properly remove these:

In [403]:
# use an iloc index larger than the size of the original dataframe
#data.iloc[data.shape[0]+1] = ['test','test_wrong','universal','test_wrong']

Apply the function:

In [404]:
data['match'] = (data.artist.apply(lambda x: x.casefold()) != data.retrieved_clean.apply(lambda x: x.casefold())).astype('int64')

In [405]:
data.head()

,artist,gender,retrieved,genre,retrieved_clean,match
1,Christopher_Willits,male,Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac...",Christopher_Willits,0
3,Shawn_Hook,male,Shawn_Hook,"['pop', 'electronic', 'rock']",Shawn_Hook,0
4,Steve_Poltz,male,Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']",Steve_Poltz,0
6,Marvin_Isley,male,Marvin_Isley,"['r&b', 'funk', 'soul', 'funk rock']",Marvin_Isley,0
7,Povel_Ramel,male,Povel_Ramel,['vaudeville'],Povel_Ramel,0

In [406]:
data.match.sum()

0

Now remove artists where retrieved_clean doesn't match artist:

In [407]:
data = data[data.match == 0]

In [408]:
data.head()

,artist,gender,retrieved,genre,retrieved_clean,match
1,Christopher_Willits,male,Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac...",Christopher_Willits,0
3,Shawn_Hook,male,Shawn_Hook,"['pop', 'electronic', 'rock']",Shawn_Hook,0
4,Steve_Poltz,male,Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']",Steve_Poltz,0
6,Marvin_Isley,male,Marvin_Isley,"['r&b', 'funk', 'soul', 'funk rock']",Marvin_Isley,0
7,Povel_Ramel,male,Povel_Ramel,['vaudeville'],Povel_Ramel,0

Now the remaining artists are verified and have non-null genre label.

### Genre Labels

Each value of the genre column is a _string_ of comma separated genre labels using the spotify abbreviations. We want to convert it to a _list_ of strings.

We need to check for the following issues:

- [ ] genre lists may be more complicated now due to the following. deal with by looking at genre lists with special characters and cleaning those
    - [x] semicolon separated
    - [x] prose comments in parentheses -- these will be removed; it will remove some genres, but mostly it removes 'early' or a year designating the period in which the artist participated in that genre -- neotraditional is not removed
    - [x] forward slashes e.g. singer/songwriter
    - [x] instances of "\n" replaced with "," 
- [x] Note: Katharina_Nuttall has no genres, but on wikipedia there are genres listed
- [ ] clean up names of some genres, such as R\& amp;B
- [ ] the following appears as a genre label: 'R&amp;B/Dance music (page does not exist)'; this appears to be another reason not to scrape the link for the genre

The following function will systematically reformat the genre lists to a great extent. There are a few cases that are dealt with individually and some that are dropped.

In [409]:
"""This function takes in a string of the form
appearing in the genrelist of the dataframe.
It strips the square brackets and extra quotes and
returns a list of strings where each string is a genre label.
It also removes strings in parentheses and removes \( or \) that are isolated.
It replaces 'singer/songwriter' with 'singer-songwriter' and replaces forward slashes with commas."""
def genrelist(string):
    string = string.strip("[").strip("]").replace("'","").replace('"',"") \
    .replace("singer/songwriter", "singer-songwriter").replace("/",",") \
    .replace(r"\n",",").replace(r";",",")
    L = [s for s in string.split(',')]
    L_new = []
    for x in L:
        x = re.sub(r"\(.*?\)", "", x) # newly introduced
        x = re.sub(r"\(", "", x) # newly introduced
        x = re.sub(r"\)", "", x) # newly introduced
        x = x.replace(" ","_").lstrip("_").rstrip("_").strip(";")
        L_new.append(x)
    while (str("") in L_new):
        L_new.remove("")
    return L_new

In [410]:
data['genrelist']= data['genre'].apply(genrelist)

Can use 'genre' column for str.contains searches

Issues to deal with:

The ";" -- this seems to have been dealt with

In [411]:
data.genre[data.genre.str.contains(r';')]

254                ['k-pop', ';', 'hip hop', ';', 'dance']
2416     ['.mw-parser-output div.columns-2 div.column{f...
5378     ['singer-songwriter', ';', 'jazz', ';', 'music...
7150       ['rock', ';', 'country rock', ';', 'folk rock']
7861     ['.mw-parser-output div.columns-2 div.column{f...
8201          ['classical crossover', '; opera; romantic']
9496     ['classical crossover', '; pop music; rock mus...
11170    ['aor', 'pop rock', '; earlier:', 'pop', 'disc...
13707    ['traditional pop music', ';', 'show tunes', '...
14041                ['american folk; struggle & protest']
21388    ['singer-songwriter', '; mainstream', 'jazz', ...
Name: genre, dtype: object

In [412]:
data.genrelist[data.genre[data.genre.str.contains(r';')].index]

254                                [k-pop, hip_hop, dance]
2416     [.mw-parser-output_div.columns-2_div.column{fl...
5378     [singer-songwriter, jazz, musical_theatre, com...
7150                       [rock, country_rock, folk_rock]
7861     [.mw-parser-output_div.columns-2_div.column{fl...
8201                [classical_crossover, opera, romantic]
9496     [classical_crossover, pop_music, rock_music, r...
11170          [aor, pop_rock, earlier:, pop, disco, soul]
13707           [traditional_pop_music, show_tunes, opera]
14041                  [american_folk, struggle_&_protest]
21388    [singer-songwriter, mainstream, jazz, and_melo...
Name: genrelist, dtype: object

Remove 'earlier:' from 11170

In [413]:
data.genrelist.loc[11170]

['aor', 'pop_rock', 'earlier:', 'pop', 'disco', 'soul']

## Fix this - do not write to copy

In [416]:
data['genrelist'].loc[11170] = ['aor', 'pop_rock', 'pop', 'disco', 'soul']

Two entries with .mw-parser... -- Fix by hand.

In [415]:
data.genrelist[data.genre[data.genre.str.contains(r'\.mw-.*')].index]

2416    [.mw-parser-output_div.columns-2_div.column{fl...
7861    [.mw-parser-output_div.columns-2_div.column{fl...
Name: genrelist, dtype: object

In [327]:
data.genrelist.loc[2416]

['.mw-parser-output_div.columns-2_div.column{float:left',
 'width:50%',
 'min-width:300px}.mw-parser-output_div.columns-3_div.column{float:left',
 'width:33.3%',
 'min-width:200px}.mw-parser-output_div.columns-4_div.column{float:left',
 'width:25%',
 'min-width:150px}.mw-parser-output_div.columns-5_div.column{float:left',
 'width:20%',
 'min-width:120px}',
 'disco',
 'funk',
 'electric',
 'latin_soul']

In [329]:
data['genrelist'].loc[2416] = ['disco', 'funk', 'electric', 'latin_soul']

In [330]:
data.genrelist.loc[7861]

['.mw-parser-output_div.columns-2_div.column{float:left',
 'width:50%',
 'min-width:300px}.mw-parser-output_div.columns-3_div.column{float:left',
 'width:33.3%',
 'min-width:200px}.mw-parser-output_div.columns-4_div.column{float:left',
 'width:25%',
 'min-width:150px}.mw-parser-output_div.columns-5_div.column{float:left',
 'width:20%',
 'min-width:120px}',
 'torch_song']

In [331]:
data['genrelist'].loc[7861] = ['torch_song']

The ) or ( seem to have been dealt with.

In [334]:
data.genre[data.genre.str.contains(r'[\(\)]')]

349      ['metalcore', 'electronic', 'electropop', 'har...
917      ['pop rock', '(2009–2010)', 'hard rock', 'aren...
1383               ['country', '(', 'neotraditional', ')']
1605     ['metalcore', 'alternative metal', 'alternativ...
1990          ['alternative rock', 'punk rock', '(early)']
                               ...
22743    ['electropop', 'indie pop', 'pop rock', '(earl...
22754                ['jazz', 'folk', 'americana (music)']
22770    ['heavy metal', 'progressive metal', 'hard roc...
22984    ['groove metal', 'heavy metal', 'southern meta...
23169    ['glam rock', 'rock and roll', 'psychedelic fo...
Name: genre, Length: 73, dtype: object

In [338]:
parentrouble = data.genrelist[data.genre[data.genre.str.contains(r'[\(\)]')].index]

In [355]:
parentrouble

349      [metalcore, electronic, electropop, hardcore_p...
917      [pop_rock, hard_rock, arena_rock, metal, glam_...
1383                             [country, neotraditional]
1605     [metalcore, alternative_metal, alternative_roc...
1990                         [alternative_rock, punk_rock]
                               ...
22743                    [electropop, indie_pop, pop_rock]
22754                              [jazz, folk, americana]
22770    [heavy_metal, progressive_metal, hard_rock, me...
22984    [groove_metal, heavy_metal, southern_metal, th...
23169         [glam_rock, rock_and_roll, psychedelic_folk]
Name: genrelist, Length: 73, dtype: object

The / seems to have been dealt with.

In [357]:
data.genre[data.genre.str.contains(r'[/]')]

331                          ['indie rock/pop/electronic']
503                                   ['roots/blues/soul']
646      ['christian & gospel', 'independent\nsinger/so...
830                                           ['pop/rock']
1642     ['gospel', 'contemporary christian', 'inspirat...
                               ...
22119    ['heavy metal', 'hard rock', 'rock', 'blues', ...
22198    ['pop', 'french pop', 'pop/rock', 'adult conte...
22520    ['progressive rock', 'industrial rock', 'pop/r...
22534            ['pop', 'persian / middle eastern music']
23090    ['singer/songwriter', 'folk', 'americana', 'pop']
Name: genre, Length: 73, dtype: object

In [359]:
data.genrelist[data.genre[data.genre.str.contains(r'[/]')].index]

331                          [indie_rock, pop, electronic]
503                                   [roots, blues, soul]
646      [christian_&_gospel, independent, singer-songw...
830                                            [pop, rock]
1642     [gospel, contemporary_christian, inspirational...
                               ...
22119    [heavy_metal, hard_rock, rock, blues, r&b, sou...
22198    [pop, french_pop, pop, rock, adult_contemporar...
22520       [progressive_rock, industrial_rock, pop, rock]
22534                 [pop, persian, middle_eastern_music]
23090            [singer-songwriter, folk, americana, pop]
Name: genrelist, Length: 73, dtype: object

In [360]:
data.head()

,artist,gender,retrieved,genre,retrieved_clean,match,trouble_characters,genrelist
1,Christopher_Willits,male,Christopher_Willits,"['electronic', 'glitch', 'ambient', 'electroac...",Christopher_Willits,0,False,"[electronic, glitch, ambient, electroacoustic,..."
3,Shawn_Hook,male,Shawn_Hook,"['pop', 'electronic', 'rock']",Shawn_Hook,0,False,"[pop, electronic, rock]"
4,Steve_Poltz,male,Steve_Poltz,"['pop rock', 'indie-rock', 'folk rock']",Steve_Poltz,0,False,"[pop_rock, indie-rock, folk_rock]"
6,Marvin_Isley,male,Marvin_Isley,"['r&b', 'funk', 'soul', 'funk rock']",Marvin_Isley,0,False,"[r&b, funk, soul, funk_rock]"
7,Povel_Ramel,male,Povel_Ramel,['vaudeville'],Povel_Ramel,0,False,[vaudeville]

In [374]:
data.shape

(15500, 8)

In [366]:
data.genre[data.genre.str.contains(r"r\&b")]

6                     ['r&b', 'funk', 'soul', 'funk rock']
14                                         ['soul', 'r&b']
29         ['jazz rock', 'soft rock', 'yacht rock', 'r&b']
33                                          ['pop', 'r&b']
34                     ['r&b', 'soul', 'neo soul', 'jazz']
                               ...
23131                                  ['pop rock', 'r&b']
23134                    ['soul', 'r&b', 'funk', 'gospel']
23161                                              ['r&b']
23163                             ['blues', 'r&b', 'rock']
23176    ['soul', 'r&b', 'jazz', 'psychedelic soul', 'v...
Name: genre, Length: 1966, dtype: object

### Remove all artists with null values for genre :

In [370]:
data.isnull().sum(axis = 0)

artist                0
gender                0
retrieved             0
genre                 0
retrieved_clean       0
match                 0
trouble_characters    0
genrelist             0
dtype: int64

In [371]:
data = data[data['genrelist'].notnull()]

In [372]:
data.isnull().sum(axis = 0)

artist                0
gender                0
retrieved             0
genre                 0
retrieved_clean       0
match                 0
trouble_characters    0
genrelist             0
dtype: int64

In [373]:
data.shape

(15500, 8)

### Create column with length of genre lists:

In [126]:
data['genrelist_length'] = data.genrelist.apply(lambda x: len(x))

In [127]:
data.shape

(15500, 8)

### Remove artists for which the genre list is empty:

In [128]:
data[data.genrelist_length == 0]

,artist,gender,retrieved,genre,retrieved_clean,match,genrelist,genrelist_length
4024,Cupid,male,Cupid_(singer),[],Cupid,0,[],0
15255,Mary_Zilba,female,Mary_Zilba,[],Mary_Zilba,0,[],0
17487,Betty_Clooney,female,Betty_Clooney,[],Betty_Clooney,0,[],0

Note: Cupid, Mary Zilba, Betty Clooney have made it to this point but actually have no genres listed in wikipedia.

In [129]:
data = data[data.genrelist_length > 0]

In [130]:
data.shape

(15497, 8)

Remove old columns:

In [131]:
data.columns

Index(['artist', 'gender', 'retrieved', 'genre', 'retrieved_clean', 'match',
       'genrelist', 'genrelist_length'],
      dtype='object')

In [132]:
data.drop(['retrieved','genre','retrieved_clean', 'match'], axis = 1, inplace = True)

In [133]:
data.head()

,artist,gender,genrelist,genrelist_length
1,Christopher_Willits,male,"[electronic, glitch, ambient, electroacoustic,...",5
3,Shawn_Hook,male,"[pop, electronic, rock]",3
4,Steve_Poltz,male,"[pop_rock, indie-rock, folk_rock]",3
6,Marvin_Isley,male,"[r&b, funk, soul, funk_rock]",4
7,Povel_Ramel,male,[vaudeville],1

In [134]:
data.shape

(15497, 4)

Remove any artists without gender value

In [135]:
data.gender.isnull().sum()

0

In [136]:
data.gender.unique()

array(['male', 'female'], dtype=object)

### Extracting the unique genre labels:

First make a list of the genrelists:

In [53]:
genre_list = data.genrelist.values.tolist()
genre_list = [x for y in genre_list for x in y]
genre_list = list(set(genre_list))

In [54]:
genre_list[:5]

['Outsider_music',
 'Mexican_cumbia',
 'Novelty_songs',
 'Heavy_metal_music',
 'St._Louis_blues_(music)']

In [55]:
len(genre_list)

1760

In [56]:
print('There are {} artists with genre and binary-gender labels.'.format(data.shape[0]))
print('There are {} unique genre labels.'.format(len(genre_list)))

There are 14615 artists with genre and binary-gender labels.
There are 1760 unique genre labels.

Check to see if there are artists with len(genrelist) = 0

In [57]:
data[data.genrelist.apply(lambda x: True if len(x) == 0 else False)]

Empty DataFrame
Columns: [artist, gender, genrelist, genrelist_length]
Index: []

## Select 1% of artists to verify gender manually.

In [58]:
data.shape

(14615, 4)

In [59]:
data_male = data[data.gender == 'male']
data_female = data[data.gender == 'female']

In [60]:
tot = data.shape[0]
m = data_male.shape[0]
f = data_female.shape[0]
print('{} total artists'.format(tot))
print('{} female artists, or {:0.0f}%'.format(f, 100*f/(f+m)))
print('{} male artists, or {:0.0f}%'.format(m, 100*m/(f+m)))

14615 total artists
4526 female artists, or 31%
10089 male artists, or 69%

We will verify the same number of female as male artists. Let 
- $p$ be the fraction of artists to verify,
- $p_f$ be the fraction of female artists to verify
- $p_m$ be the fraction of male artists to verify

We want two conditions satisfied:

$$ p_f \cdot f = p_m \cdot m $$
$$ p_f \cdot f + p_m \cdot m = p \cdot (f+m)$$

These encode the requirements that
- we verify equal numbers of male and female artists
- the fractino of artists we verify is $p$

Solving for $p_f$ and $p_m$ leads to 

$$ p_f = \frac{p}{2f}(f+m)$$
$$ p_m = \frac{p}{2m}(f+m)$$

Define the functions for $p_f$ and $p_m$:

In [61]:
def pf(p,f,m):
    return p*(m+f)/(2*f)

def pm(p,f,m):
    return p*(m+f)/(2*m)

Substituting in $p=.01$, $f = 4864$, and $m = 10609$ leads to

In [62]:
p = .01
p_f, p_m = pf(p,f,m), pm(p,f,m)

We select samples from the data:

In [63]:
sample_female = data_female.sample(frac = p_f)
sample_male = data_male.sample(frac = p_m)

In [64]:
sample_male.shape[0], sample_female.shape[0]

(73, 73)

In [65]:
sample_fm = pd.concat([sample_female,sample_male])

In [66]:
sample_size = sample_fm.shape[0]

In [67]:
sample_fm = sample_fm.sample(sample_size)

In [68]:
sample_fm.head()

,artist,gender,genrelist,genrelist_length
7603,Karan_Casey,female,"[Celtic_music, Folk_music]",2
2252,Michelle_Chamuel,female,"[Pop_music, Electropop, Electronica]",3
20702,Sa-Fire,female,"[Pop_music, Dance_music]",2
19523,Colette_Carr,female,"[Pop_music, Pop-rap, Electropop, Indie_pop, Eu...",5
2860,"James_""Stump""_Johnson",male,[St._Louis_blues_(music)],1

In [69]:
tom_sample = sample_fm[:73]
dan_sample = sample_fm[73:]
tom_sample.shape, dan_sample.shape

((73, 4), (73, 4))

In [70]:
dan_sample.head(20)

,artist,gender,genrelist,genrelist_length
10844,Bill_Kirchen,male,"[Ameripolitan, Rockabilly, Rock_and_roll, Coun...",8
2798,Olivia_O'Brien,female,"[Pop_music, Trip_hop]",2
10180,Rissi_Palmer,female,"[Country_music, R&amp;B, Southern_soul]",3
7250,Fantasia_Barrino,female,"[Contemporary_R&amp;B, Pop_music, Soul_music, ...",5
3766,Davey_Pattison,male,"[Hard_rock, Blues-rock, Heavy_metal_music, Blu...",5
5920,Nona_Hendryx,female,"[Funk, Soul_music, Pop_music, Rhythm_and_blues...",8
2936,Dave_Sturt,male,"[Progressive_rock, Symphonic_rock, World_Music]",3
17864,Gayle_McCormick,female,"[Rock_music, Blues]",2
17175,Gwyneth_Herbert,female,"[Singer-songwriter, Jazz, Musical_theatre]",3
17677,Stacey_Solomon,female,[Pop_music],1
11993,Bryony_Griffith,female,[Folk_music],1
2646,Russell_Javors,male,"[Pop_music, Pop_rock, Rock_music]",3
10728,John_Schneider,male,[Country_music],1
10182,Gallant,male,"[Contemporary_R&amp;B, Alternative_R&amp;B, Al...",4
13393,Enya,female,"[Celtic_music, Pop_music, World_music, New-age...",4
21243,Link_Wray,male,"[Rock_and_roll, Rockabilly, Instrumental_rock,...",4
9179,Rainy_Davis,female,"[Contemporary_R&amp;B, Pop_music, Hip_hop_music]",3
20601,Bernard_Odum,male,"[R&amp;B, Funk]",2
8729,Jason_Kardong,male,"[Indie_Rock, Lo-fi_music, Alt_country, America...",4
22008,Janette_Carter,female,"[Gospel_music, Country_music]",2

- [ ] The following artists have popped up as having zero labels in the sample. How are they getting through the len >0 filter?

In [71]:
zero_labels = ['Katharina Nuttall', 'Aebh_Kelly', 'Ronnie_Sessions', 'John_Dankworth']

# SWITCH 'now' to datetime when have cleaned and verified dataset

Export data for further use:

In [72]:
today = datetime.today()
#now = today.strftime('%Y-%m-%d-%H-%M')
now = 'temp'

In [73]:
data.to_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_genres_gender_cleaned_{}.csv'.format(now))