Train a logistic model to classify the gender of an artist based on the list of genre labels.

In [4]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

import re

Import the cleaned data:

In [5]:
now = 'temp'

In [6]:
X_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_train_{}.csv'.format(now), index_col = ['artist'])
y_train = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_train_{}.csv'.format(now), index_col = ['artist'])

In [7]:
X_train.head()

,genrelist,genrelist_length
artist,,
Trish_Thuy_Trang,"['Pop_music', 'Techno', 'Dance_music']",3
Dougie_Young,['Country_music'],1
Bruce_Kulick,"['Hard_rock', 'Heavy_metal_music']",2
Steve_Vawamas,"['Neoclassical_metal', 'Hard_rock', 'Heavy_met...",3
Will_Schwartz,"['Indie_pop', 'Indie_rock', 'Alt-Rock', 'Elect...",4

In [8]:
X_train.shape, y_train.shape

((11692, 2), (11692, 1))

### Genre Labels

Each value of the genre column is a _string_ of comma separated genre labels using the spotify abbreviations. We want to convert it to a _list_ of strings.

In [9]:
"""This function takes in a string of the form
appearing in the genrelist of the dataframe.
It strips the square brackets and extra quotes and
returns a list of strings where each string is a genre label."""
def genrelist(string):
    string = string.strip("[").strip("]").replace("'","")
    L = [s for s in string.split(',')]
    L_new = []
    for x in L:
        L_new.append(x.replace(" ","_").lstrip("_").rstrip("_"))
    while (str("") in L_new):
        L_new.remove("")
    return L_new

Now we apply it to the whole column and put the lists in a new column:

In [10]:
X_train['genrelist']= X_train['genrelist'].apply(genrelist)

In [11]:
X_train.head()

,genrelist,genrelist_length
artist,,
Trish_Thuy_Trang,"[Pop_music, Techno, Dance_music]",3
Dougie_Young,[Country_music],1
Bruce_Kulick,"[Hard_rock, Heavy_metal_music]",2
Steve_Vawamas,"[Neoclassical_metal, Hard_rock, Heavy_metal_mu...",3
Will_Schwartz,"[Indie_pop, Indie_rock, Alt-Rock, Electronic_d...",4

In [14]:
genre_list = pd.read_csv('/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/genre_list_temp.csv')
genre_list.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [15]:
genre_list.head()

        genre_list
0        Steampunk
1  Political_music
2         Art_rock
3       Mumble_rap
4        Bossanova