# Data Loader Class

Here are the basics of loading the data set and removing outliers.

In [1]:
# get currrent date for latest version of data set
%store -r now

X_path_train = '/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_train_{}.csv'.format(now)
y_path_train = '/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_train_{}.csv'.format(now)
X_path_test = '/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_X_test_{}.csv'.format(now)
y_path_test = '/Users/Daniel/Code/Genre/data/genre_lists/data_ready_for_model/wiki-kaggle_y_test_{}.csv'.format(now)

In [2]:
# this is only needed if the genre_data_loader.py script is not in the directory of the nb or script from which you call it
import importlib.util
spec = importlib.util.spec_from_file_location("genre_data_loader", "/Users/Daniel/Code/Genre/project_code/analysis/genre_scripts/genre_data_loader.py")
genre_data_loader = importlib.util.module_from_spec(spec)
spec.loader.exec_module(genre_data_loader)
# if the genre_data_loader.py script is in the directory in which you are calling it, only the next line is needed:
LoadGenreData = genre_data_loader.LoadGenreData

This instantiates a genre_data object and a genre_data_train object. These objects have methods which return the data in a dataframe with various formats as well as some other info.

In [3]:
genre_data = LoadGenreData(now, X_path_train = X_path_train, y_path_train = y_path_train,
                          X_path_test = X_path_test, y_path_test = y_path_test)

genre_data_train = LoadGenreData(now, X_path_train = X_path_train, y_path_train = y_path_train)

Put the cursor at the end of the next cell and hit tab; the available methods will display:

In [4]:
genre_data.

SyntaxError: invalid syntax (<ipython-input-4-4e6c44be203d>, line 1)

In [5]:
data = genre_data.as_lists()

In [6]:
data

,genrelist_length,gender,genre_list
artist,,,
Pablo_Holman,3,male,"[rock, emo_pop, pop]"
Bobby_Edwards,1,male,[country]
La_Palabra,4,male,"[guaracha, son_montuno, salsa_romántica, afro_..."
Sherrick,2,male,"[r_and_b, soul]"
Allen_Collins,1,male,[southern_rock]
...,...,...,...
Katy_Perry,3,female,"[rock, disco, pop]"
Tyler_Joseph,7,male,"[indie_pop, electro_pop, alternative_rock, reg..."
Delta_Goodrem,3,female,"[contemporary, pop, pop_rock]"
Chosen_Effect,4,male,"[dance, hip_hop, r_and_b, pop]"
Nikki_Yanofsky,2,female,"[jazz, pop]"

Create the dataframe:

In [7]:
data = genre_data.data

In [8]:
data.head()

,genrelist,genrelist_length,gender,genre_list
artist,,,,
Pablo_Holman,"['pop', 'rock', 'emo_pop']",3,male,"[rock, emo_pop, pop]"
Bobby_Edwards,['country'],1,male,[country]
La_Palabra,"['afro_cuban_jazz', 'son_montuno', 'guaracha',...",4,male,"[guaracha, son_montuno, salsa_romántica, afro_..."
Sherrick,"['r_and_b', 'soul']",2,male,"[r_and_b, soul]"
Allen_Collins,['southern_rock'],1,male,[southern_rock]

What is the max list length?

In [9]:
data.genrelist_length.max()

73

Call the method that removes outliers and specify the threshold. Only artists with less genre labels than the threshold will remain in the dataframe.

In [17]:
data = genre_data.remove_outliers(2)

What is the new max length?

In [18]:
data.genrelist_length.max()

1

In [19]:
data = genre_data.as_sets()

In [20]:
data.genrelist_length.max()

1

In [21]:
data.head()

,genrelist_length,gender,genre_list,genre_set
artist,,,,
Bobby_Edwards,1,male,[country],{country}
Allen_Collins,1,male,[southern_rock],{southern_rock}
Garland_Green,1,male,[soul],{soul}
Claude_Gray,1,male,[country],{country}
Anna_Margaret_Collins,1,female,[pop],{pop}

In [22]:
list_of_genres = genre_data.get_list_of_genres()

In [24]:
len(list_of_genres)

1491